.homepage h1 {
  font-size: 1.5em;
  text-align: center;
  background: var(--primary-dark);
  color: var(--text-light);
  padding: 16px;
}

.container {
  width: min(100% - 16px, 400px);
  margin-top: 16px;
  margin-inline: auto;
  padding: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
